@page "/history"

<link rel="stylesheet" href="History.razor.css" />

<main class="container">
	<div class="imagem">
		<div class="logo">
			<img src="./assets/icon-no-bg.png" alt="Logo da aplicação">
		</div>
	</div>
	<h1 class="titulo">Histórico</h1>
	<div class="history">
		<input id="pesquisa-historico" type="text" class="input-text-history" placeholder="Pesquisar...">
		@foreach (var registro in _bmiHistory)
		{
			<div class="card">
				<div class="card-history">
					<div class="history-log"></div>
				</div>
				<div class="card-history-content">
					<div class="card-history-head">
						<span class="title">@registro.Titulo <span class=@registro.CssIcone></span></span>
						<span class="time-history">@registro.TextoDataHora</span>
					</div>
					<div class="text-history">
						<p>@registro.Texto</p>
					</div>
				</div>
			</div>
		}
	</div>
</main>

@code {
	private List<RegistroHistorico> _bmiHistory = new ();

	protected override async Task OnInitializedAsync()
	{
		_bmiHistory = new List<RegistroHistorico>
		{
			new RegistroHistorico
			{
				Titulo = "Peso ideal",
				CssIcone = "custom-icon-verde fa-solid fa-square-check",
				TextoDataHora = "8m atrás",
				Texto = "Parabéns, você está no seu peso ideal, continue mantendo este estilo!"
			},
			new RegistroHistorico
			{
				Titulo = "Sobrepeso",
				CssIcone = "custom-icon-vermelho fa-solid fa-circle-minus",
				TextoDataHora = "12/10/2023",
				Texto = "Estamos quase lá! Faça alguns ajustes para ficar no peso ideal!"
			},
			new RegistroHistorico
			{
				Titulo = "Abaixo do peso",
				CssIcone = "custom-icon-vermelho fa-solid fa-circle-minus",
				TextoDataHora = "12/10/2023",
				Texto = "Estamos quase lá! Tente comer mais vezes ao longo do dia!"
			},
		};
	}

	public class RegistroHistorico
	{
		public string Titulo {get; set;}
		public string CssIcone { get; set; }
		public string TextoDataHora {get; set;}
		public string Texto { get; set; }
	}
}
